<div class="basket-product-card container-md ">
  <div class="d-flex flex-row gap-3 ">
    <div class="d-flex justify-content-between">

      <div *ngIf="product?.type != 'Gemuese' && product?.type != 'Wurzelgemuese'; else gemuese">
        <img *ngIf="product" class="img-fluid"
             src="assets/images/products/{{product?.trademark}}-{{product?.type}}.png">
      </div>
      <ng-template #gemuese>
        <img class="img-fluid"
             src="assets/images/products/{{product?.name}}.png">
      </ng-template>

    </div>
    <div>
      <span class="fw-bold">{{product.trademark}} </span> <span>{{product.name}}</span>
    </div>
    <div>
      <button mat-fab>      <mat-icon fontIcon="delete" (click)="removeProduct(product)">delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="mt-2 d-flex justify-content-end"><span class="fw-bold">{{product.price}}-.</span></div>
</div>



