<div class="p-3 mt-3 container">
  <h3>{{data.title}}</h3>
  <div>
    <h5>Allgemeine Informationen</h5>
    <ul>
      <li>Unter "Experimente" finden Sie alle Experimente. Um zu einem Experiment zu gelangen, klicken Sie es an.</li>
      <li>Haben Sie ein Experiment angeklicHaben Sie ein Experiment angeklickt, gelangen Sie zu den Experimentversuchen. </li>
      <li>Wählen Sie einen Versuch aus, werden Sie zu der Versuchsbeschreibung navigiert.</li>
      <li>Sobald Sie die Versuchsbeschreibung erreicht und durchgelesen haben, können Sie den Versuch starten.</li>
      <li>eder laufende Versuch können Sie zu jeder Zeit abbrechen.</li>
      <li>Wenn Sie die Durchfühurung der Experimente abbrechen wollen, dann informieren Sie bitte den Versuchsleiter.
        <strong>Beenden Sie die Durchführung der Experiemnte nicht, bevor sie den Versuchsleiter informiert haben!</strong></li>
    </ul>
    <h5>Einstellungen</h5>
    <ul>
      <li>Unter "Einstellungen können Sie Standardeinstellungen aktivieren oder deaktivieren.
        Diese Einstellungen können Ihnen helfen, die Durchführing der Experimente zu beschleunigen"</li>
    </ul>
  </div>
  <h5>Hilfestellungen</h5>
  <ul>
    <li>Unter “Hilfe” finden sie nützliche Infos und diverse Hilfestellungen, wenn Sie nicht mehr weiter wissen.</li>
    <li>In den Hilfestellungen finden Sie praktische Tipps, wie Sie Navigieren und was Sie tun können um die Durchführung der Experimente zu beschleunigen.</li>
  </ul>
  <div *ngIf="data.showFooter">
    <strong>Diese Informationen können Sie jederzeit einblenden, klicken Sie dazu bloss den Button in der rechten unteren Ecke an.</strong>
  </div>
  <button (click)="closeModal()" class="mt-2 btn btn-secondary" mat-button [mat-dialog-close]="true">Schliessen</button>
</div>


