.bottom-nav {
  bottom: 0;
  position: fixed;
  pointer-events: auto;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px -6px 20px rgba(0, 0, 0, 0.8); /* Starker Schatten */
  z-index: 1000;
}

.instruction-container{
  min-height: 100vh;
}
.active{
  font-weight: bold;
  font-size: 17px;

}


no-pointer-events{
  pointer-events: none;
}
.progress-bar-circle{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(100, 100, 100, 0.8); /* Schwarzer Hintergrund mit 50% Transparenz */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; ;
}

.progress-title{
  color: white;
}
