.progress-bar-circle{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(100, 100, 100, 0.8); /* Schwarzer Hintergrund mit 50% Transparenz */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; ;
}

.progress-title{
  color: white;
}
