.shopping-card-icon{
  color: #297BE7;
}

.main{
  margin-left: 20px;
}

.category-box{
  width: 150px; /* Breite der Box */
  height: 100px; /* Höhe der Box */
  background-color: lightgray; /* Hintergrundfarbe */
  display: flex; /* Aktiviert Flexbox */
  align-items: center; /* Vertikale Zentrierung */
  justify-content: center; /* Horizontale Zentrierung */
  text-align: center; /* Falls der Text mehrzeilig ist */
  border-radius: 10px; /* Abgerundete Ecken */
}

.scrollable-list {
  max-height: 100vh; /* Maximale Höhe setzen */
  overflow-y: auto; /* Scrollbar nur anzeigen, wenn nötig */
  padding: 10px;
}

.progress-bar-circle{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(100, 100, 100, 0.8); /* Schwarzer Hintergrund mit 50% Transparenz */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; ;
}


.basket-number-text{
  color: white;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: 0;
  background-color: #407D9C;
  padding: 2px 7px;
  border-radius: 999px;
}


.cart-icon-container {
  position: relative;
  display: inline-block;
}

.basket-container {
    position: relative;
    display: inline-block;
}

.progress-title{
  color: white;
}
.header-link{
  color: #297BE7;
}

.scrollable-list {
  max-height: 100vh; /* Maximale Höhe setzen */
  overflow-y: auto; /* Scrollbar nur anzeigen, wenn nötig */
}


