<div (click)="showProduct()"  class="p-3 w-100">
    <div class="row">
      <div class="col-3">
        <img src="assets/images/products/{{product.trademark}}-{{product.type}}.png">
      </div>
      <div class="col">
        <div class="container">
            <div class="col">
              <span #textAttribute class="price-tag fw-bold">{{ product.price }}</span>
            </div>
            <div class="col">
              <span #textAttribute class="fw-bold me-2">{{ product.trademark }} {{product.name}}</span>
            </div>

          <div class="row">
            <div class="col">
              <span *ngFor="let specification of product.specifications.slice(0,2); index as i" class="me-1">
                <span #textAttribute>{{ specification.value }} </span>
                <span *ngIf="i < 2 && i < product.specifications.length-1">,</span>
              </span>
            </div>
          </div>

        </div>

      </div>
    </div>

</div>
