.menu-icon{
  font-size: 25px;
  width: 30px;
  color: white;
  font-weight: bold;
}

.side-menu-container{
  background-color: #404040;
  height: 100vh;
  min-height: 100vh;
}


span{
  font-size: 30px;
  pointer-events: auto;
}

button{
  background-color: #404040
}

h2{
  color: white;
}

.side-menu{
  background-color: #404040;
}
.menu-item{
  color: white;
  font-size: 20px;
a{
  color: white;
}
}

.draw-container{
  background-color: #404040;
}

a{
  color: white;
}

.no-pointer-events{
  pointer-events: none;
}

.active-link{
  border-bottom: white solid 2px;
}

