
.category-box{
  width: 150px; /* Breite der Box */
  height: 100px; /* Höhe der Box */
  background-color: lightgray; /* Hintergrundfarbe */
  display: flex; /* Aktiviert Flexbox */
  align-items: center; /* Vertikale Zentrierung */
  justify-content: center; /* Horizontale Zentrierung */
  text-align: center; /* Falls der Text mehrzeilig ist */
  border-radius: 10px; /* Abgerundete Ecken */
}
.shop-header-img{
  width: 650px;
  max-height: 550px;
}

.daily-product-container{
  max-height: 600px;
}
