<div (click)="increaseNumberNavigationClicks()"  *ngIf="navigationSetting?.sideNavigationSearchBarTop">

  <div class="d-flex flex-row">
    <div class="col-sm-auto" style="min-height: 100vh;">
      <app-side-navigation ></app-side-navigation>
    </div>
    <div class="scrollable-list w-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div (click)="increaseNumberNavigationClicks()" *ngIf="navigationSetting?.horizontalNavigation || !navigationSetting">
  <app-navigation></app-navigation>
  <router-outlet></router-outlet>
</div>

<div *ngIf="navigationSetting?.sideNavigationSearchbarBottom">
  <div class="d-flex flex-row">
    <div class="col-sm-auto" style="min-height: 100vh;">
      <app-side-navigation></app-side-navigation>
    </div>
    <div class="scrollable-list w-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<div (click)="increaseNumberNavigationClicks()"  *ngIf="navigationSetting?.sideNavigationUserInformationTop">
  <div class="d-flex flex-row">
    <div class="col-sm-auto">
      <app-side-navigation [showLogoutAndProfile]="false"></app-side-navigation>
    </div>
    <div class="col">
      <div class="main-header d-flex justify-content-end">
        <div class="d-flex justify-content-end align-items-center gap-3 w-100 me-3">
          <div class="p-3 right-side-header-item fw-bold">
            <a (click)="logout()" class="ms-2">Abmelden</a>
          </div>
          <div class="p-3 right-side-header-item fw-bold ">
            <a class="">{{loginService.currentUser()?.email}}</a>
          </div>
        </div>
      </div>
        <div class=" w-100 scrollable-list">
          <router-outlet></router-outlet>
        </div>
    </div>
  </div>
</div>



<div (click)="increaseNumberNavigationClicks()"  *ngIf="navigationSetting?.megaDropDown">
  <app-mega-drop-down-navigation [noPointerEvents]="false"></app-mega-drop-down-navigation>
  <router-outlet></router-outlet>
</div>


<button [ngClass]="{'top-left': navigationSetting?.sideNavigationSearchbarBottom}" (click)="openWelcomeHelpModal('Informationen', false)" mat-fab class="fab">
  <mat-icon>info</mat-icon>
</button>
