<div *ngIf="!isHidden" class="basket mt-3 container card shadow">
  <div class="p-3 d-flex justify-content-between">
    <div>
      <h4>Warenkorb</h4>
      <div>
        <p>{{basket.length}} Produkte im Warenkorb</p>
      </div>
    </div>

    <button mat-fab class="remove-btn">
      <mat-icon (click)="hideBasket()" fontIcon="close"></mat-icon>
    </button>
  </div>
  <hr>
    <div class="d-flex mb-4 justify-content-center" *ngFor="let product of basket; index as i">
      <app-busket-product (removeProductEventEmitter) = removeProduct($event) [product]="product"></app-busket-product>
    </div>
  <div *ngIf="basket.length > 0" class="d-flex justify-content-center">
    <button class="flex-fill btn btn-primary flex-grow-1">Zur Kasse</button>
  </div>

</div>
