.search-icon{
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 2;
  margin-left: 10px;

}
.search-input-field{
  min-width: 50px;
  min-height: 60px;
  border: solid 1px #3887EF;
  padding-left: 2.5rem;
}
.search-bar-container{
  min-height: 40px;
  margin-top: 20px;
  width: 100%;
}

.input-container{
  position: relative;
}
