.capitalLetterCircle{
  border-radius: 50%;
  background-color: #DDD1FD;
  min-width: 50px;
  max-height: 50px;
}
.text{
  color: black;
}

.email-body{
  color: black;
}


.blue-text{
  color: #189086;
}

.delete-btn{
  max-width: 30px;
  max-height: 30px;
  pointer-events: all;
}
