<div class="container mt-3">
  <h1>Hilfe</h1>

  <ul class="list-group">
    <h4>Wie starte ich ein Experiment?</h4>
    <ol>
      <li>Über den Eintrag “Experimente” in der Navigationsliste gelangen Sie zu allen Experimenten.</li>
      <li>Klicken Sie die entsprechende Experimentkarte an, oder betätigen Sie den Button
        “zu den Versuchsexperimenen”, um zu den Versuchsexperimenten zu gelnagen.
      </li>
      <li>Wählen Sie einen Versuch aus über den Button, “Versuch auswählen”.</li>
      <li>Starten Sie den Versuch.</li>
    </ol>
    <div class="mt-2">
      <h4>Einstellungen</h4>
      <ol>
        <li>Über den Link "Einstellungen" gelangen Sie zu den Standardeinstellungen.</li>
        <li>Mithilfe der Einstellungen könneen Sie entscheiden, wie die Experiment-und Versuchsexperimente
          präsentiert werden.
        </li>
        <li>Schalten Sie die progressive Offenlegung ein, dann werden Sie Schrittweise durch die Auswahl der Experimente
          geführt.
          Damit werden Ihnen nicht alle Experimente und Versuche zur Auswahl angezeigt, sonern nur die, welche Sie
          bereits abgeschlossenen haben und das
          jeweils nächste freigeschalteene Experiment.
        </li>
        <li>Sie haben die Möglichkeit die progressive Offenlegung auf Ebene der Experimente sowie auf Ebene der
          Versuchsexperimente einzuschalten.
        </li>
      </ol>
    </div>
    <div class="mt-2">
      <h4>Tipps</h4>
      <ol>
        <li>Wenn Sie den Button in der unteren rechten Ecke betätigen, blenden Sie wertvolle Tipps ein.</li>
      </ol>
    </div>
    <div class="mt-2">
      <h4>Experimente</h4>
      <ol>
        <li>Wissen Sie nicht mehr weiter, dann wenden Sie sich an den Versuchsleiter</li>
      </ol>
    </div>

  </ul>
</div>
