.auto-complete-input{
  width: 75%;
  background-color: white;
  border-radius: 4px;
  color: white;
}
.mat-form-field {
  background-color: white;
}
.autocomplete-form{
  min-width: 175px;
}

.search-bar-container{
  margin: 15px 50px -8px 30px;
  min-width: 250px;
  position: relative;
}

