  <form class="example-form">
    <mat-form-field appearance="outline" class="auto-complete-input">
      <mat-label>Number</mat-label>
      <input #input (keydown.enter)="emitFilterText(input.value)" type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option.name">
            <app-auto-complete-product [product]="option" ></app-auto-complete-product>
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>


