@import "ngx-toastr/toastr"; /* You can add global styles to this file, and also import other style files */
@import "mdb-ui-kit/css/mdb.min.css";



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.nav-title{
  font-family: "K2D SC", serif;
  font-style: italic;
  font-size: 30px;
}



.bottom{
  position: fixed;
  bottom: 0;
  background-color: #F1F1F1;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sub-navigation{
  background-color: #DBDBDB;
  min-height: 30px;
}

.shop-title{
  color: #157EAB;
}


.basket-number-text{
  color: white;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: 0;
  background-color: #407D9C;
  padding: 2px 7px;
  border-radius: 999px;
}


.basket-container {
  position: relative;
  display: inline-block;
}

.small-list{
  max-height: 85vh;
}
