<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="ms-3 container-fluid">
    <a routerLink="/" class="nav-title navbar-brand">Weblab</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nabvar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ">
          <a [ngClass]="{'active-link': currentLink == 'Experimente'}" (click)="setCurrentLink('Experimente')" routerLink="/" class="nav-link active nav-item-robot">Experimente</a>
        </li>
        <li class="nav-item ms-3">
          <a [ngClass]="{'active-link': currentLink == 'Einstellungen'}" (click)="updateUserSettingBehaviour()" routerLink="/settings" class="nav-link active nav-item-robot ">Einstellungen</a>
        </li>
        <li class="nav-item ms-3">
          <a [ngClass]="{'active-link': currentLink == 'Hilfe'}"  (click)="updateUserHelpBehaviour()" routerLink="/help" class="nav-link active nav-item-robot">Hilfe</a>
        </li>
      </ul>
      <div class="d-flex justify-content-between" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/login" (click)="logout()" class="nav-link active ms-2">Abmelden</a>
          </li>

          <li *ngIf="currentUser" class="nav-item">
            <a [ngClass]="{'active-link': currentLink == 'Profil'}" (click)="setCurrentLink('Profil')"  routerLink="/profile" class="active nav-link">{{currentUser.email}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
